div#scrabbleWindow div{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

div#scrabbleWindow div#board{
  text-align: left;
  width: 1129px;
  height: 80px;
}

div#scrabbleWindow div#hand{
  text-align: left;
  width: 590px;
  height: 132px;

  padding-left: 50px;
  padding-top: 50px;
}

div#scrabbleWindow div#controls{
  width: 470px;
}

div#scrabbleWindow div#controls p{
  width: 80px;
  margin: 20px;
}

div#scrabbleWindow div#controls button{
  margin: 20px;
}

div#scrabbleWindow img.tile{
  margin: 8px;
  margin-left: 8.99px;
  margin-right: 7.35px;

  height: 64px;
  width: auto;
}
